kagglehub==0.3.5
pandas==2.2.3
numpy==2.2.0
matplotlib==3.10.0
seaborn==0.13.2
python-dotenv==1.0.1
langchain-community==0.13.2
langchain-text-splitters==0.3.3
langchain-chroma==0.1.4
transformers==4.47.1
sentence-transformers==3.4.1


